<template>
   <div v-if="showReports" class="my-5" style="font-size: 13px;">
      <hr />
      <h5>Búsquedas anteriores</h5>
      <ul>
         <!-- <li v-for="report of reports" :key="report">{{ report }}</li> -->
         <li v-for="report of reports" :key="report">
            <a @click="getReport(report)">{{ report }}</a>
         </li>
      </ul>
   </div>
</template>

<script>
import EventBus from "../eventBus";
import axios from "axios";

export default {
   name: "Reports",
   data() {
      return {
         showReports: false,
         reports: []
      };
   },
   async created() {
      try {
         const response = await axios.get("http://localhost:3000/reports");
         this.reports = response.data;

         if (this.reports.length > 0) {
            this.showReports = true;
         }
      } catch (e) {
         //console.error(e);
      }
   },
   methods: {
      getReport(domain) {
         EventBus.$emit("GetReport", domain);
      }
   },
   mounted() {
      EventBus.$on("NewSearch", domain => {
         if (!this.reports) {
            this.reports = [];
         }
         if (this.reports.indexOf(domain) == -1) {
            this.reports.push(domain);
            this.reports.sort();
            this.showReports = true;
         }
      });
   }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
   list-style-type: none;
   padding: 0;
}
li {
   display: inline-block;
   margin: 0 5px;
}
a:not([href]) {
   color: #007bff !important;
   text-decoration: none;
}
a:not([href]):hover {
   color: #007bff !important;
   text-decoration: underline;
   cursor: pointer;
}
</style>
