<template>
   <div class="mt-4">
      <div>
         <b-form-input placeholder="Ingresa un dominio..." v-model="domain" @keyup.enter="getReport" size="lg"></b-form-input>
      </div>
      <div v-if="loading" class="mt-5 text-center">
         <b-spinner variant="primary" label="Cargando..."></b-spinner>
      </div>
      <div v-if="!loading">
         <div v-if="result" class="mt-5" style="font-size: 14px;">
            <h5>Configuración del servidor</h5>
            <div class="mt-4 text-left">
               <table class="table table-sm table-striped">
                  <thead>
                     <tr class="bg-primary">
                        <th scope="col" style="width: 35%; color: white; font-size: 16px;">Variable</th>
                        <th scope="col" style="width: 65%; color: white; font-size: 16px;">Valor</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>Dominio</td>
                        <td>
                           <a v-bind:href="'//' + result.Domain" target="_blank">{{ result.Domain }}</a>
                        </td>
                     </tr>
                     <tr>
                        <td>Título de la página</td>
                        <td>{{ result.Title | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>Logo</td>
                        <td>{{ result.Logo | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>Servidor no disponible</td>
                        <td>{{ result.IsDown | BoolField }}</td>
                     </tr>
                     <tr>
                        <td>Grado SSL</td>
                        <td>{{ result.SslGrade | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>Grado SSL anterior</td>
                        <td>{{ result.PreviusSslGrade | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>Configuración actualizada</td>
                        <td>{{ result.ServersChanged | BoolField }}</td>
                     </tr>
                     <tr>
                        <td>Servidores asociados al dominio</td>
                        <td>{{ result.endpoints | EmptyEndPoints }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <div v-for="item in result.endpoints" :key="item.ipAddress" class="mt-5" style="font-size: 14px;">
            <h5>Servidor: {{ item.ipAddress }}</h5>
            <div class="mt-4 text-left">
               <table class="table table-sm table-striped">
                  <thead>
                     <tr class="bg-primary">
                        <th scope="col" style="width: 35%; color: white; font-size: 16px;">Variable</th>
                        <th scope="col" style="width: 65%; color: white; font-size: 16px;">Valor</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>Dirección IP</td>
                        <td>{{ item.ipAddress | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>Grado SSL</td>
                        <td>{{ item.grade | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>País</td>
                        <td>{{ item.Country | EmptyField }}</td>
                     </tr>
                     <tr>
                        <td>Propietario</td>
                        <td>{{ item.Owner | EmptyField }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import EventBus from "../eventBus";
import axios from "axios";

export default {
   name: "Report",
   data() {
      return {
         loading: false,
         domain: "",
         result: ""
      };
   },
   methods: {
      async getReport() {
         if (this.domain.trim().length == 0) {
            return;
         }

         try {
            this.loading = true;
            const response = await axios.get("http://localhost:3000/report/" + this.domain.trim());
            this.result = response.data;
            this.loading = false;

            EventBus.$emit("NewSearch", this.domain);
         } catch (e) {
            this.loading = false;
         }
      }
   },
   mounted() {
      EventBus.$on("GetReport", domain => {
         this.domain = domain.trim();
         this.getReport();
      });
   },
   filters: {
      EmptyField: function(value) {
         if (!value) return "Sin información";
         return value;
      },
      EmptyEndPoints: function(value) {
         if (!value) return "Sin información";
         return value.length;
      },
      BoolField: function(value) {
         if (value === false) return "No";
         return "Si";
      }
   }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
