<template>
   <div id="app">
      <img src="logo.png" />
      <report />
      <reports />
   </div>
</template>

<script>
import Report from "./components/Report.vue";
import Reports from "./components/Reports.vue";

export default {
   name: "app",
   components: {
      Report,
      Reports
   }
};
</script>

<style>
#app {
   font-family: "Avenir", Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-align: center;
   color: #15304e;
   margin-top: 30px;
}
</style>
